<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ChecksArchivePath" value="C:\HalfPintArchive" />
    <add key="ChecksPath" value="c:\Halfpint" />
    <add key="ChecksUploadPath" value="c:\Halfpint\ChecksUpload" />
    <add key="NovaNetArchives" value="C:\NovaBiomedical\NovaNet\Archives" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>
